.container {
    display: grid;
}

.container>span {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.2rem;
    width: 50rem;
    height: 30rem;
    overflow: auto;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 2px;
    display: inline-block;
    white-space: pre-wrap;
    hyphens: none;
}

.editor {
    background-color: transparent;
    color: black;
    z-index: 1;
}

.ghost {
    color: rgb(192, 192, 192);
    z-index: 0;
}

